* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
		.shop-menu {
			font-family: 'Alice', serif;
			font-style: normal;
			font-weight: normal;
			font-size: 1em;
			margin-top: 1.2em;
		} 
		.shop-menu > nav > a {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			width: auto;
			align-self: stretch;
			font-size: 0.9em;
			text-decoration: none;
			color: #3F70A4;
			border: 1px solid #3F70A4;
			border-radius: 4px;
			padding: 0.5em 1em 0.5em 1em;
			margin: 0.5em 0.5em 0.5em 0;
			font-family: Alice;
		} 
		.shop-menu > nav {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			margin: 0.5em 11em 0.5em 11em;
			display: grid;
			padding: 1em 1em 1em 1em; 
			grid-template-columns: 1fr 1fr 1fr;
			font-family: Alice;
		}
		.shop-menu > nav > a:hover {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			background-color: #E3E6EB;
			transition: all 0.5s ease 0s;
		}
		.shop-menu > nav > a > span {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			padding-left: 0.5em;
			padding-right: 0.5em;
			margin: auto;
		}  
.rocket {
	background: transparent;
	cursor: pointer;
	position: fixed;
	border: none;
	border-radius: 4px;
	margin: 1em 0 1em 0;
	bottom: 2em;
	right: 0;
	width: 40px;
	height: 40px;
	z-index: 200;
}
.rocket:hover {
	animation: bounce 0.4s infinite;
	transition-property: all;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out;
}
.fire {
	display: none;
	cursor: pointer;
	position: absolute;
	margin: 2em -.7em .4em 0;
	border: none;
	bottom: -2em;
	right: 0;
	width: 40px;
	height: 40px;
	z-index: 200;
}
.rocket:hover .fire{
	display: block;
}
 @keyframes bounce {
	0% {
	  transform: translate3d(0px, 0px, 0);
	}
	50% {
	  transform: translate3d(0px, -5px, 0);
	}
	100% {
	  transform: translate3d(0px, 0px, 0);
	}
}
.img-top {
	display: flex;
	height: 50vh;
	background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
	background-size: cover;
	background-position:center; 
	background-repeat:no-repeat; 
	width: 100%;
}
.shop-box {
	background: #DEA01E;
	width: 375px;
	height: 210px;
	border-radius: 3px;
	margin: auto;
	justify-content: center;
	align-content: center;
	opacity: 80%;
	color: white;
}
.shop-banner {
	display: flex;
	color: white;
	max-width: 500px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 2.5em;
}
.shop-banner h2 {
	font-family: Alice;
	font-style: normal;
	font-weight: normal;
	flex-direction: row;
	align-self: center;
	justify-content: center;
	color: white;
	font-size: 2em;
	text-align: center;
}
.shop-banner span {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
.button-shop {
	display: flex;
	font-size: 0.9em;
	width: 86px;
	height: 36px;
	color: white;
	align-items: center;
	justify-content: center;
	margin-top: 2.5em;
	background: #DEA01E;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
}
.shop-title {
	font-family: Alice;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	position: relative;
	color: #3E4756;
	font-size: 1.6em;
	width: 100px;
	text-align: center;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.shop-border {
	position: absolute;
	border: 1px solid #175384;
	width: 35px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#product-moons-title {
	grid-column: span 3;
	margin-top: 1em;
	margin-bottom: 2em;
}
#product-planet-title {
	grid-column: span 3;
	margin-top: 1em;
	margin-bottom: 2em;
}
#product-galaxie-title {
	grid-column: span 3;
	margin-top: 1em;
	margin-bottom: 2em;
}
.moons-title {
	position: relative;
	font-family: 'Alice', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	color: #3E4756;
	font-size: 1.6em;
	width: 100px;
	text-align: center;
	margin-top: 2em;
 	margin-left: auto;
	margin-right: auto;
 	left: 0;
	right: 0;
}
.moons-border {
	position: absolute;
	border: 1px solid #175384;
	width: 35px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.menu-moons:hover .moons-title {
	display: block;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.2em;
	margin: 0 3em 3em 3em;
}
.container .product-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.container .product-info > h3 {
	padding: 1em;
	font-family: 'Alice', serif;
	font-size: 2em;
	color: #E3E6EB;
}
.container .product-info > p {
	padding: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #E3E6EB;
}

/* ------------------------------- PLANETS BILDER ---*/

/* .mercury {
	grid-column: span 2;
} */

.img-product-mercury {
	height: 40vh;
	background: url(../img/shop/planets/mercury.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin: 1em;
}
.img-product-venus {
	height: 40vh;
	background: url(../img/shop/planets/venus.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-earth {
	height: 40vh;
	background: url(../img/shop/planets/earth.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat; 
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-mars {
	height: 40vh;
	background: url(../img/shop/planets/mars.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-jupiter {
	height: 40vh;
	background: url(../img/shop/planets/jupiter.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat; 
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-saturn {
	height: 40vh;
	background: url(../img/shop/planets/saturn.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat; 
	margin: 1em 1em 4em 1em;
}
.img-product-uranus {
	height: 40vh;
	background: url(../img/shop/planets/uranus.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat; 
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-neptune {
	height: 40vh;
	background: url(../img/shop/planets/neptune.svg);
	background-size: 90%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}

/* --- --- MOONS BILDER --- ---*/

/*--- MARS MOONS ---*/

.img-product-moons-deimos {
	height: 40vh;
	background: url(../img/shop/moons/deimos.svg);
	background-size: 60%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}

/*--- JUPITER MOONS ---*/

.img-product-moons-io {
	height: 40vh;
	background: url(../img/shop/moons/io.svg);
	background-size: 60%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-moons-ganymede {
	height: 40vh;
	background: url(../img/shop/moons/ganymede.svg);
	background-size: 60%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}

/*--- SATURN MOONS ---*/

.img-product-moons-enceladus {
	height: 40vh;
	background: url(../img/shop/moons/enceladus.svg);
	background-size: 60%;  
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}

/*--- URANUS MOONS ---*/

.img-product-moons-titan {
	height: 40vh;
	background: url(../img/shop/moons/titan.svg);
	background-size: 60%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-moons-ariel {
	height: 40vh;
	background: url(../img/shop/moons/ariel.svg);
	background-size: 60%;  
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-moons-oberon {
	height: 40vh;
	background: url(../img/shop/moons/oberon.svg);
	background-size: 60%; 
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}
.img-product-moons-titania {
	height: 40vh;
	background: url(../img/shop/moons/titania.svg);
	background-size: 60%;  
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}

/*--- NEPTUNE MOONS ---*/

.img-product-moons-triton {
	height: 40vh;
	background: url(../img/shop/moons/triton.svg);
	background-size: 60%;  
	background-position: center; 
	background-repeat:no-repeat;
	margin-bottom: 1.0em;
	margin: 1em;
}

/*--- GALAXIES ---*/

.img-product .img-product-galaxies-antennae {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/antennae.svg) center center;
	background-size: cover;
}
.img-product .img-product-galaxies-antennae {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/antennae.svg) center center;
	background-size: cover;
}
.img-product .img-product-galaxies-cannibal {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/cannibal.svg) center center;
	background-size: cover;
}
.img-product .img-product-galaxies-cosmos-aztec-1 {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/cosmos-aztec-1.svg) center center;
	background-size: cover;
}
.img-product .img-product-galaxies-sombrero {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/sombrero.svg) center center;
	background-size: cover;
}
.img-product .img-product-galaxies-triangulum {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/triangulum.svg) center center;
	background-size: cover;
}
.img-product .img-product-galaxies-whirlpool {
	height: 350px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(../img/shop/galaxies/whirlpool.svg) center center;
	background-size: cover;
}

/*--------------------------------------------------*/

.product-planet {
	height: 290px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.product-moons {
	height: 290px;
	overflow: hidden;
	transition: transform .8s ease; 
	background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.product-galaxy {
	height: 290px;
	overflow: hidden;
	transition: transform .8s ease; 
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}
.product-galaxy .img-product{
	transform: scale(1.2);
}
.product-planet:hover {
	overflow: hidden;
	transition: transform .1s ease; 
	transform: scale(.97);
	background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.product-moons:hover {
	overflow: hidden;
	transition: transform .1s ease; 
	transform: scale(.97);
	background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.product-galaxy:hover {
	overflow: hidden;
	transition: transform .1s ease; 
	transform: scale(.97);
	background-repeat: no-repeat;
	background-size: cover;
}
.img-product {
	transition: transform .8s ease;
}
.product-planet:hover .img-product {
	transform: scale(0.70) translate(20%, -25%);
}
.product-moons:hover .img-product {
	transform: scale(0.70) translate(20%, -25%);
}
.product-planet .product-info {
	transition: transform .8s ease; 
}
.product-moons .product-info {
	transition: transform .8s ease; 
}
.product-galaxy .product-info {
	transition-property: all;
	transition-duration: 0.6s;
	transition-timing-function: ease-in; 
}
.product-planet:hover .product-info > p {
	transition: transform .8s ease; 
}
.product-moons:hover .product-info > p {
	transition: transform .8s ease; 
}
.product-galaxy:hover .product-info > p {
	transition: transform .8s ease; 
}
.product-planet:hover .product-info > h3 {
	transition: transform .8s ease; 
}
.product-moons:hover .product-info > h3 {
	transition: transform .8s ease; 
}
.product-galaxy:hover .product-info > h3 {
	transition: transform .8s ease; 
}
.product-planet:hover .product-info > h3 {
	transform: scale(1.2); 
	transform: translate(0px, -200px);
}
.product-moons:hover .product-info > h3 {
	transform: scale(1.2); 
	transform: translate(0px, -200px);
}
.product-galaxy:hover .product-info > h3 {
	transform: scale(1); 
	transform: translate(0px, -350px);
}
.product-planet:hover .product-info > p {
	transform: scale(1.2); 
	transform: translate(0px, -265px);
	padding: 2em;
}
.product-moons:hover .product-info > p {
	transform: scale(1.2); 
	transform: translate(0px, -265px);
	padding: 2em;
} 
.product-galaxy:hover .product-info > p {
	transform: scale(1); 
	transform: translate(0px, -400px);
	padding: 2em;
} 
.product-galaxy:hover .img-product {
	transform: scale(1);
	opacity: 40%; 
	transition-property: all;
	transition-duration: 0.6s;
	transition-timing-function: ease-in;
}

/* media-1-media-1-media-1-media-1-media-1 */

@media only screen and (max-width: 1150px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.shop-menu {
		font-family: 'Alice', serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1em;
		margin-top: 1.2em;
	} 
	.shop-menu > nav > a {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		min-width: 50px;
		align-self: stretch;
		font-size: 0.9em;
		text-decoration: none;
		color: #3F70A4;
		border: 1px solid #3F70A4;
		border-radius: 4px;
		padding: 0.5em 1em 0.5em 1em;
		margin: 0.5em 0.5em 0.5em 0;
		font-family: Alice;
	} 
	.shop-menu > nav {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		margin: 0.5em 11em 0.5em 11em;
		display: grid;
		padding: 1em 1em 1em 1em; 
		grid-template-columns: 1fr 1fr 1fr;
		font-family: Alice;
	}
	.shop-menu > nav > a:hover {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		background-color: #E3E6EB;
		transition: all 0.5s ease 0s;
	}
	.shop-menu > nav > a > span {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		padding-left: 0.5em;
		padding-right: 0.5em;
		margin: auto;
	}
	#product-moons-title {
		grid-column: span 2;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	#product-planet-title {
		grid-column: span 2;
		margin-bottom: 2em;
	}
	#product-galaxie-title {
		grid-column: span 2;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	.product-planet, .product-moons {
		height: 350px;
		overflow: hidden;
		transition: transform .8s ease; 
		background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
		background-size: cover;
	}
	.img-product {
		transform: scale(.9);
		transition: transform .6s ease;
	}
	.img-product-mercury {
		height: 52vh;
		background: url(../img/shop/planets/mercury.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin: 1em;
	}
	.img-product-venus {
		height: 52vh;
		background: url(../img/shop/planets/venus.svg);
		background-size: 90%; 
		background-position: center;
		background-repeat:no-repeat; 
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-earth {
		height: 52vh;
		background: url(../img/shop/planets/earth.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-mars {
		height: 52vh;
		background: url(../img/shop/planets/mars.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-jupiter {
		height: 52vh;
		background: url(../img/shop/planets/jupiter.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-saturn {
		height: 52vh;
		background: url(../img/shop/planets/saturn.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin: 1em 1em 4em 1em;
	}
	.img-product-uranus {
		height: 52vh;
		background: url(../img/shop/planets/uranus.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-neptune {
		height: 52vh;
		background: url(../img/shop/planets/neptune.svg);
		background-size: 90%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}

/* MOONS MOONS MOONS MOONS MOONS */

	.img-product-moons-deimos {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin: 1em;
	}
	.img-product-moons-io {
		height: 52vh;
		background-size: 50%; 
		background-position: center;
		background-repeat:no-repeat; 
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-moons-ganymede {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-moons-enceladus {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-moons-titan {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-moons-ariel {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin: 1em 1em 4em 1em;
	}
	.img-product-moons-oberon {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-moons-titania {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-moons-triton {
		height: 52vh;
		background-size: 50%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}

	/* GALAXIES GALAXIES GALAXIES GALAXIES */

	.product-planet:hover .img-product {
		transform: scale(0.60) translate(20%, -25%);
	}
	.product-planet .product-info {
		transition: transform .8s ease; 
	}
	.product-planet:hover .product-info > p {
		transition: transform .8s ease; 
	}
	.product-planet:hover .product-info > h3 {
		transition: transform .8s ease; 
	}
	.product-planet:hover .product-info > h3 {
		transform: scale(1.2); 
		transform: translate(0px, -220px);
	}
	.product-planet:hover .product-info > p {
		transform: scale(1.2); 
		transform: translate(0px, -285px);
		padding: 2em;
	} 
	/* MOONS */
	.product-moons:hover .img-product {
		transform: scale(0.60) translate(20%, -25%);
	}
	.product-moons .product-info {
		transition: transform .8s ease; 
	}
	.product-moons:hover .product-info > p {
		transition: transform .8s ease; 
	}
	.product-moons:hover .product-info > h3 {
		transition: transform .8s ease; 
	}
	.product-moons:hover .product-info > h3 {
		transform: scale(1.2); 
		transform: translate(0px, -260px);
	}
	.product-moons:hover .product-info > p {
		transform: scale(1.2); 
		transform: translate(0px, -320px);
		padding: 2em;
	} 

}

@media only screen and (max-width: 800px) {
	
	.img-top {
		height: 50vh;
		background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
		background-size: cover;
		background-position:center; 
		background-repeat:no-repeat; 
		width: 100%;
	}
	.product-planet {
		min-height: 300px;
		overflow: hidden;
		transition: transform .8s ease; 
		background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
		background-size: cover;
	}

	/* -----------second menu----------- */

	.shop-menu {
		font-family: 'Alice', serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1em;
		margin-top: 1.2em;
	} 
	.shop-menu > nav > a {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		min-width: 50px;
		align-self: stretch;
		font-size: 0.9em;
		text-decoration: none;
		color: #3F70A4;
		border: 1px solid #3F70A4;
		border-radius: 4px;
		padding: 0.5em 1em 0.5em 1em;
		margin: 0.5em 0.5em 0.5em 0;
		font-family: Alice;
	} 
	.shop-menu > nav {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		margin: 0.5em 11em 0.5em 11em;
		display: grid;
		padding: 1em 1em 1em 1em; 
		grid-template-columns: 1fr 1fr 1fr;
		font-family: Alice;
	}
	.shop-menu > nav > a:hover {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		background-color: #E3E6EB;
		transition: all 0.5s ease 0s;
	}
	.shop-menu > nav > a > span {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		padding-left: 0.5em;
		padding-right: 0.5em;
		margin: auto;
	}

	/* -----------second menu----------- */
}

@media only screen and (max-width: 750px) {
	.container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.shop-menu {
		font-family: 'Alice', serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1em;
		margin-top: 1.2em;
	} 
	.shop-menu > nav > a {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		min-width: 200px;
		align-self: stretch;
		font-size: 0.9em;
		text-decoration: none;
		color: #3F70A4;
		border: 1px solid #3F70A4;
		border-radius: 4px;
		padding: 0.5em 1em 0.5em 1em;
		margin: 0.5em 0.5em 0.5em 0;
		font-family: Alice;
	} 
	.shop-menu > nav {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		margin: 0.5em 11em 0.5em 11em;
		display: grid;
		padding: 1em 1em 1em 1em; 
		grid-template-columns: 1fr;
		font-family: Alice;
	}
	.shop-menu > nav > a:hover {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		background-color: #E3E6EB;
		transition: all 0.5s ease 0s;
	}
	.shop-menu > nav > a > span {
		font-family: Alice;
		font-style: normal;
		font-weight: normal;
		padding-left: 0.5em;
		padding-right: 0.5em;
		margin: auto;
	}
	#product-moons-title {
		grid-column: span 1;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	#product-planet-title {
		grid-column: span 1;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	#product-galaxie-title {
		grid-column: span 1;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	.product-planet {
		height: 350px;
		overflow: hidden;
		transition: transform .8s ease; 
		background: url(https://svs.gsfc.nasa.gov/vis/a030000/a031000/a031016/STScI-H-Whale_galaxy-h-4467x1217.png);
		background-size: cover;
	}
	.img-product-mercury {
		height: 52vh;
		background: url(../img/shop/planets/mercury.svg);
		background-size: 80%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin: 1em;
	}
	.img-product-venus {
		height: 52vh;
		background: url(../img/shop/planets/venus.svg);
		background-size: 80%; 
		background-position: center;
		background-repeat:no-repeat; 
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-earth {
		height: 52vh;
		background: url(../img/shop/planets/earth.svg);
		background-size: 80%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-mars {
		height: 52vh;
		background: url(../img/shop/planets/mars.svg);
		background-size: 80%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-jupiter {
		height: 52vh;
		background: url(../img/shop/planets/jupiter.svg);
		background-size: 80%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-saturn {
		height: 52vh;
		background: url(../img/shop/planets/saturn.svg);
		background-size: 75%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin: 1em 1em 4em 1em;
	}
	.img-product-uranus {
		height: 52vh;
		background: url(../img/shop/planets/uranus.svg);
		background-size: 80%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product-neptune {
		height: 52vh;
		background: url(../img/shop/planets/neptune.svg);
		background-size: 80%; 
		background-position: center; 
		background-repeat:no-repeat;
		margin-bottom: 1.0em;
		margin: 1em;
	}
	.img-product {
		transform: scale(.7);
	}
	.product:hover .img-product {
		transform: scale(0.70) translate(10%, -25%);
	}
	.product .product-info {
		transition: transform .8s ease; 
	}
	.product:hover .product-info > p {
		transition: transform .8s ease; 
	}
	.product:hover .product-info > h3 {
		transition: transform .8s ease; 
	}
	.product:hover .product-info > h3 {
		transform: scale(1.2); 
		transform: translate(0px, -200px);
	}
	.product:hover .product-info > p {
		transform: scale(1.2); 
		transform: translate(0px, -200px);
		padding: 2em;
	} 
}
	@media only screen and (max-width: 450px) {
		.shop-box {
			background: transparent;
		}
		.shop-menu {
			font-family: 'Alice', serif;
			font-style: normal;
			font-weight: normal;
			font-size: 1em;
			margin-top: 1.2em;
		} 
		.shop-menu > nav > a {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			min-width: 200px;
			align-self: stretch;
			font-size: 0.9em;
			text-decoration: none;
			color: #3F70A4;
			border: 1px solid #3F70A4;
			border-radius: 4px;
			padding: 0.5em 1em 0.5em 1em;
			margin: 0.5em 0.5em 0.5em 0;
			font-family: Alice;
		} 
		.shop-menu > nav {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			margin: 0.5em 11em 0.5em 11em;
			display: grid;
			padding: 1em 1em 1em 1em;
			grid-template-columns: 1fr;
			font-family: Alice;
		}
		.shop-menu > nav > a:hover {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			background-color: #E3E6EB;
			transition: all 0.5s ease 0s;
		}
		.shop-menu > nav > a > span {
			font-family: Alice;
			font-style: normal;
			font-weight: normal;
			padding-left: 0.5em;
			padding-right: 0.5em;
			margin: auto;
		}
		.container {
			display: grid;
			grid-template-columns: 1fr;
		}
		.img-product {
			transform: scale(.9);
		}
		.product-planet:hover .img-product {
			transform: scale(0.70) translate(30%, -35%);
		}
		.product-planet .product-info {
			transition: transform .8s ease; 
		}
		.product-planet:hover .product-info > p {
			transition: transform .8s ease; 
		}
		.product-planet:hover .product-info > h3 {
			transition: transform .8s ease; 
		}
		.product-planet:hover .product-info > h3 {
			transform: scale(1.2); 
			transform: translate(0px, -365px);
		}
		.product-planet:hover .product-info > p {
			padding: 2em;
			transform: scale(1.2); 
			transform: translate(0px, -435px);
		} 
		.product-moons:hover .img-product {
			transform: scale(0.70) translate(30%, -35%);
		}
		.product-moons .product-info {
			transition: transform .8s ease; 
		}
		.product-moons:hover .product-info > p {
			transition: transform .8s ease; 
		}
		.product-moons:hover .product-info > h3 {
			transition: transform .8s ease; 
		}
		.product-moons:hover .product-info > h3 {
			transform: scale(1); 
			transform: translate(0px, -365px);
		}
		.product-moons:hover .product-info > p {
			padding: 2em;
			transform: scale(1); 
			transform: translate(0px, -435px);
		}
}