* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
	min-width: 400px;
}
.logo-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.logo {
	width: 220px;
	flex-basis: 110px;
	position: relative;
	padding: 2em;
}
header {
	font-family: ‘Alice’, serif;
	font-size: 1em;
	display: flex;
	flex-direction: column;
}
nav {
	display: flex;
	padding: 0em 1em 1em 1em;
	justify-content: center;
}
nav a {
	text-decoration: none;
	color: #175384;
	display: flex;
	flex-direction: row;
	padding: 0em 2em 0em 2em;
}
.label {
	display: none;
}
.menu {
	display: none;
}

/* media-media-media-media-media-media */

@media only screen and (max-width: 600px) {
	nav {
		display: none;
	}
	.label {
		display: flex;
		cursor: pointer;	
		margin: auto;
		width: 305px;
		height: 32px;
		left: 34px;
		top: 167px;
		background: #E3E6EB;
		border-radius: 7px;
	}
	.label span {
		font-family: ‘Alice’, serif;
		color: #3F70A4;
		display: flex;
		margin: auto 0em auto 1em;
	}
	.hamburger-icon {	
		display: flex;
		color: #3F70A4;
		justify-content: right;
		margin: auto 1em auto auto;
	}
	.menu {
		display: block;
		position: relative;
		font-family: ‘Alice’, serif;
		font-size: 0.9em;
		margin: 0px auto auto auto;				/* change it! */
		justify-content: center;
		max-width: 305px;
		background-color: #ffffff;
		color: #3F70A4;
		width: 100%;
	}
	.menu li {
		display: none;					/* change it! */
		list-style: none;
		padding: 1em;
		border-bottom: 0.5px solid #3F70A4;
		cursor: pointer;
	}
	.menu li:first-child:hover {
		background-color: #ffffff;
	}
	.menu li:nth-child(2) {
		border-top: 2px solid #3F70A4;
	}
	.menu li a {
		display: block;
		text-decoration: none;
		color: #175384;
	}
	.label:hover + .menu > li {
		display: block;
		background-color: #ffffff;
		transition: all 0.2s ease 0s;
	}
	.menu:hover li {
		display: block;
		background-color: #ffffff;
		transition: all 0.2s ease 0s;
	}
	.menu > li:hover {
		display: block;
		background-color: #E3E6EB;
		transition: all 0.2s ease 0s;
	}
}
