*{
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    color: #3E4756;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.container {
	font-size: 1.0em;
	display: flex;
	flex-direction: column;
}
.container article > *{
    flex-direction: column;
}
.container header { flex: 0 0 4em; }
.container main { flex: 0 0 2em; }


/* Text */
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8em;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Alice', serif;
}
/* Stora bilden */
.contact-image {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'image image ';
  }
  .contact-image1 {   
    display: flex;
    min-height: 50vh;
    background: url(../img/imageContact/imageContact.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
  .box-inside {
    flex-basis: 100px;
    color: white;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background: rgba(222, 160, 30, 0.8);
}
.contact-image-text{
    color: white;
    padding: 1em; 
    font-size: 1.8em;
}

/* Sub title*/
.contact-title1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 3em 0 1em 0;
}
.contact-title2{
    position: relative;
    display: inline-block;
    font-family: 'Alice', serif;
    font-size: 1.4em;
    margin-bottom: 0.3em;
}
.contact-border{
    justify-content: center;
    position: absolute;
    border: 1px solid #175384;
    width: 35px;
    height: 0px;    
}  

.sub-text{
    padding: 0 2em;
    text-align: center;
}
/*Kontaktformulär*/
.container-form{
    color: #3E4756;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    max-width: 2000px; /* Kontaktformuläret sträcks inte ut tillräckligt(så som jag vill ha det) om inte width uppges */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin: 2em 5em 3em 5em;
  }

  /*Form*/
.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
.contact form label{
    display: block;
  }
  
.contact form p{
    margin: 0;
    font-size: 1em;
  }
  
.contact form .width{
    grid-column: 1 / 3 ;
    font-size: 1em;
  }
  
.contact form button, .contact form input, .contact form textarea{
    width: 100%;
    font-size: 1em;
    padding: 1em;
    border: 1px solid #3E4756;
    border-radius: 3px;
}
  
.contact form button{
    background:rgba(222, 160, 30);
    color: white;
    border: transparent;
    font-size: 1.2em;
    font-family: 'Alice', serif;
    transition: 0.6s;
}
  
.contact form button:hover{
    cursor: pointer;
    background: rgba(222, 160, 30, 0.8);

}
.big-map{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'image image ';
  }
  .big-map1 {   
    display: flex;
    min-height: 400px;
    background: url(../img/imageContact/map.svg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 /*Rocket*/
 html {
    scroll-behavior: smooth;
}
 .rocket {
    background: transparent;
    cursor: pointer;
    position: fixed;
    border: none;
    border-radius: 4px;
    margin: 1em 0 1em 0;
    bottom: 2em;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 200;
}
.rocket:hover {
    animation: bounce 0.4s infinite;
}
@keyframes bounce {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    50% {
      transform: translate3d(0px, -5px, 0);
    }
    100% {
      transform: translate3d(0px, 0px, 0);
    }
}
.fire {
    display: none;
    cursor: pointer;
    position: absolute;
    margin: 2em -.7em .4em 0;
    border: none;
    bottom: -2em;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 200;
    transition: transform .8s ease;
}
.rocket:hover .fire{
    display: block;
}

/*Media*/
@media only screen and (max-width: 600px){
.container-form{
    margin: 2em 2em 3em 2em;
  }
}
