*{
    padding: 0px; margin: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    text-decoration: none;
}
body{
    color: #3E4756;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
header, footer{
    color: #3E4756;
}
header{
z-index: 99;
}
main{
z-index: 1;
}
.container {
	font-size: 1.0em;
	display: flex;
	flex-direction: column;
}
.container article > *{
    flex-direction: column;
}
.container footer { flex: 0 0 4em; }
.container header { flex: 0 0 4em; }
.container main { flex: 0 0 2em; }

/* Text */
p{
    font-family: 'Open Sans', sans-serif;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.8em;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Alice', serif;
}
h1{
    font-size: 2em;
}
/* Big image */
.big-image {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'image image ';
  }
  .big-image1 {
    grid-area: image;  
    min-height: 50vh;
    background: url(../img/imageVision/imagevision.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
  }
  .box-inside {
    flex-basis: 100px;
    padding: 2em; /* Padding inre mellanrummet mellan text och border på varge kolumn */
    color: white;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgba(216, 138, 162, 0.7);
}
.grid-header-text{
    flex-direction: row;
    align-self: center;
    color: white;
    padding: 1em; 
    font-size: 1.8em;
    text-align: center;
}
.sub-text p{
    line-height: 1.4em;
    margin: 0 0 2em 0;
    text-align: center;
}
.grid-header-text1 a > p{
    position: relative;  
    border: 1px solid white;
    font-size: 1em;
    background-color: #DEA01E;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 1em;
} 

/* Sub title*/
.vision{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 2em;
}
.vision-title{
    position: relative;
    display: inline-block;
    font-family: 'Alice', serif;
    font-size: 1.4em;
    margin-bottom: 0.3em;
}
.vision-border{
    justify-content: center;
    position: absolute;
    border: 2px solid #175384;
    width: 35px;
    height: 0px;    
}  

.our-company{
    margin: 0 1em 2em 1em;

    text-align: center;
}

/*Grid*/
.vision-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    grid-template-rows: auto;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    margin: 0 5em 4em 5em;
    
}
.vision-container > div {
    border-radius: 5px 5px 0px 0px;
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #3E4756;
}
.vision-container h3{
    text-align: center;
    font-size: 1.2em;
    font-family: 'Alice', serif;
    margin: 1em 0 1em 0;
    z-index: 500;
}
.vision-container p{
    margin: 0 2em 1em 2em;
}
.vision-container img{
    position: relative;
    border-radius: 5px 5px 0px 0px;
    display: block; 
    width: 100%;
    object-fit: cover;
} 

/*Media*/

@media only screen and (max-width: 700px) {
    .vision-container{
        margin: 0 0 2em 0;
        width: 100%;
}
    .vision-container > div{
        border: transparent;
}
}
@media only screen and (max-width: 700px) {
.our-company p{
    margin: 0em 2em 1em 2em;
}
}