/* general style */

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alice';
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.7em;
    padding: 1em 1em;
    line
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0em;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.7em;
    padding: 1em 1em;
}

a {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.7em;
    padding: 1em 1em;
}


/*  Part1   */

.hero {
    /* Sizing */
    height: 100vh;
    width: 100vw;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text */
    color: white;
    /* Background styles */
    background-image: radial-gradient(rgba(167, 120, 120, 0.3), rgba(167, 120, 120, 0.3)), url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    color: white;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    /* Border styles */
    border: 3px solid white;
    border-radius: 5px;
    /* Background styles */
    background-color: rgba(222, 160, 30, 0.8);
}


/*  Part2   */

.content-wrap {
    padding: 2em;
    margin: 0em;
}

#part2 {
    /*background: yellow;*/
    padding-top: 3em;
    padding-bottom: 6em;
    margin: 0em;
    /*
  height: 100vh;
  width: 100vw;
  */
}


/*
#part2 .content-title{
margin: 0em;
position: center;
}
*/


/*  Part3   */

.card {
    background-color: grey;
    color: white;
    padding: 1rem;
    height: 10rem;
}

.cards {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-row-gap: 4rem;
}


/*Queries */

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2) 1fr;
    }
    #part2 .content-text {
        columns: 2;
        /*column-gap: 2em;*/
    }
    /*
  #part2 .content-text p {
    padding-bottom: 2em;
  }
  */
    .content-wrap {
        grid-column: 2/4;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}