*{
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{ 
    font-size: 1.0em;
  
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
header, footer{
    background-color: #3f70a4;
    color: white;
}
header{
z-index: 99;
}
main{
z-index: 1;
}
.container {
	font-size: 1.0em;
	display: flex;
	flex-direction: column;
}
.container article > *{
    flex-direction: column;
}
.container footer { flex: 0 0 4em; }
.container header { flex: 0 0 4em; }
.container main { flex: 0 0 2em; }



/*Navigation*/
.logo {
    position: absolute;
    width: 140px;
    height: 60px;
    text-align: center;
    margin: 10px 0 0 10px;
  }
.nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: right;
    line-height: 70px;
    display: inline;
}
.menu {
    margin: 0 4em 0 4em;
    z-index: 100;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    line-height: 70px;
}
.menu a:hover{
    cursor: pointer;
    background-color: #457fbd;
}
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

/* Text */
p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
    line-height: 1.7em;
    padding: 1em 1em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h1{
    font-size: 2em;
}


/*Grid*/
.grid-header{
    border: 1px solid black;
   /* background: url(image/earth.png);*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0em 0 3em 0;
    padding: 3em;
    height: 80vh;
}
.grid-header-text{
    color: #457fbd ;
    font-weight: bold;
    margin-bottom: 1em;
}
.grid-header-text1{
    border: 2px solid #457fbd;
    padding: 0.6em;
    display: inline-block;
    text-decoration: none;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 15em auto;
    grid-column-gap: 1em;
    grid-row-gap: 0em;
    margin: 2em 0em 2em 0em;
}
.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Roboto';
    border: 1px solid black;
    
}

/*Bilder*/


/*Media qu*/
@media only screen and (max-width: 600px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;   
    }
    .menu a {
        display: block;
        border-bottom: 1px solid white;
        background-color: #3f70a4;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }